<launch>

    <!--Don't change this file!!!-->
    <arg name="test_type" default="simple"/>  <!-- or any default value -->
    <arg name="algo_topic" default=""/>
    <arg name="gt_topic" default=""/>
    <param name="use_sim_time" value="true" />
    <param name="algo_topic" value="$(arg algo_topic)" />
    <param name="gt_topic" value="$(arg gt_topic)" />
    
    <rosparam command="load" file="/rustle/config/params.yaml"/>

    <!--=================== A-LOAM for the Simple Test =======================-->
    <group if="$(eval arg('test_type') == 'simple')">
        <node pkg="aloam_velodyne" type="ascanRegistration" name="ascanRegistration" output="screen" />
        <node pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" output="screen" />
        <node pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" output="screen" />
    </group>

    <!-- ==================  A-LOAM for the Speed Test =======================-->
    <group if="$(eval arg('test_type') == 'speed')">
        <node pkg="aloam_velodyne_speed" type="ascanRegistration" name="ascanRegistration" output="screen" />
        <node pkg="aloam_velodyne_speed" type="alaserOdometry" name="alaserOdometry" output="screen" />
        <node pkg="aloam_velodyne_speed" type="alaserMapping" name="alaserMapping" output="screen" />
    </group>

    <!-- ================== A-LOAM for the DROP TEST =========================-->
    <group if="$(eval arg('test_type') == 'drop')">
        <node pkg="aloam_velodyne_speed" type="ascanRegistration" name="ascanRegistration" output="screen" />
        <node pkg="aloam_velodyne_speed" type="alaserOdometry" name="alaserOdometry" output="screen" />
        <node pkg="aloam_velodyne_speed" type="alaserMapping" name="alaserMapping" output="screen" />

        <node pkg="rustle-ros" type="drop_manager.py" name="drop_manager" output="screen"/>
    </group>

    <!-- ================== A-LOAM for the Cut-Off TEST ======================-->
    <group if="$(eval arg('test_type') == 'cut')">
        <node pkg="aloam_velodyne_speed" type="ascanRegistration" name="ascanRegistration" output="screen" />
        <node pkg="aloam_velodyne_speed" type="alaserOdometry" name="alaserOdometry" output="screen" />
        <node pkg="aloam_velodyne_speed" type="alaserMapping" name="alaserMapping" output="screen" />
        <node pkg="rustle-ros" type="cut_manager.py" name="cut_manager" output="screen"/>
    </group>

</launch>