<launch>

    <!--Don't change this file!!!-->
    <arg name="test_type" default="simple"/>  <!-- or any default value -->
    <arg name="algo_topic" default=""/>
    <arg name="gt_topic" default=""/>
    <param name="use_sim_time" value="true" />
    <param name="algo_topic" value="$(arg algo_topic)" />
    <param name="gt_topic" value="$(arg gt_topic)" />
    
    <rosparam command="load" file="/rustle/config/params.yaml"/>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <!-- Optional arguments -->
        <arg name="port" value="57331" />
        <arg name="address" value="0.0.0.0" />
    </include>

    <!--=================== FAST-LIO for the Simple Test =======================-->
    <group if="$(eval arg('test_type') == 'simple')">
        <node pkg="faster_lio" type="run_mapping_online" name="laserMapping" output="screen" /> 
    </group>

    <!-- ==================  FAST-LIO for the Speed Test =======================-->
    <group if="$(eval arg('test_type') == 'speed')">
        <node pkg="faster_lio_speed" type="run_mapping_online" name="laserMapping" output="screen" /> 
    </group>

    <!-- ================== FAST-LIO for the DROP TEST =========================-->
    <group if="$(eval arg('test_type') == 'drop')">
        <node pkg="faster_lio" type="run_mapping_online" name="laserMapping" output="screen" /> 

        <node pkg="rustle-ros" type="drop_manager.py" name="drop_manager" output="screen"/>
    </group>

    <!-- ================== FAST-LIO for the Cut-Off TEST ======================-->
    <group if="$(eval arg('test_type') == 'cut')">
        <node pkg="faster_lio" type="run_mapping_online" name="laserMapping" output="screen" /> 

        <node pkg="rustle-ros" type="cut_manager.py" name="cut_manager" output="screen"/>
    </group>

        <node pkg="rustle-ros" type="cut_manager.py" name="cut_manager" output="screen"/>
    </group>

</launch>